@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --shiki-color-text: theme('colors.white');
    --shiki-token-constant: theme('colors.red.300');
    --shiki-token-string: theme('colors.red.300');
    --shiki-token-comment: theme('colors.zinc.500');
    --shiki-token-keyword: theme('colors.sky.300');
    --shiki-token-parameter: theme('colors.pink.300');
    --shiki-token-function: theme('colors.violet.300');
    --shiki-token-string-expression: theme('colors.red.300');
    --shiki-token-punctuation: theme('colors.zinc.200');
  }

  [inert] ::-webkit-scrollbar {
    display: none;
  }
}

.prose code {
  background: transparent;
  border: none;
  color: #ffffff;
  box-shadow: none;
  font-size: 14px;
}
@property --discord-button-angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

@property --discord-button-x {
  syntax: "<length>";
  inherits: false;
  initial-value: 0;
}